@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
  }



.container {
    min-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}
body {
    margin: 0;
    font-family: Lato;
}


/* Header */
.header {
    position: absolute;
    width: 100%;
    
    background-color: #5c966f;
    color: #ffffff;
}


/* Nav */
.nav {
    font-style: 14px;
    text-transform: uppercase;
    
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    transition: color .1s linear;

    position: relative;
}
.nav-link {
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.nav-link:hover {
    color: #255a13;
}


/* Main */
.main {
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #5c966f;
    margin: 50px 0 0 0;
}
.section-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 1px 4 px rgb(0 0 0 / 60%);
    transition: .3s;
}
.section-profile-titile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
.main-title {
    position: relative;
    padding: 0;
    margin: 0 0 30px 0;
    color: black;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}
.section-subtitle {
    font-style: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Section */
.section {
    width: 50%;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 2px solid black;
    font-size: 20px;
}
.section-title {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: red;
}
.contacts {
    padding: 5px;
}
.contacts a {
    color: red;
}
.pre {
    padding: 0;
    margin: 0;
}

/* Footer */
.footer {
    background-color: #5c966f;
    padding: 20px;
    color: black;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}
.footer-github {
    text-decoration: none;
    color: black;
}
.footer-github:hover {
    color:#255a13;
}
.school {
    width: 121px;
    height: 45px;
    background-image: url('https://cv-hints.netlify.app/assets/svg/rss.svg');
    background-size: contain;
}